body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(0deg, #000, #ffa500); 
    color: #fff; 
}

.navbar {
    background-color: #000;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    width: 150px;
    height: 50px;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 50px;
    gap: 50px;
}

.nav-item {
    position: relative;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px 10px;
    }

    .logo {
        width: 120px; 
        height: auto; 
    }

    .nav-links {
        margin-right: 10px;
        gap: 20px; 
    }

    .nav-item a {
        padding: 10px 10px; 
    }

    .image-item img {
        width: 100%; 
        height: auto;
    }

    .footer {
        padding: 20px 10px; 
        margin-top: 100px; 
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .social-icons a {
        margin: 5px 10px;
    }

    .click-here-link {
        font-size: 1em;
    }

    .welcome-section {
        margin: 20px; 
    }
}


.banner {
    text-align: center; 
    margin-top: 0; 
}

.banner img {
    max-width: 100%; 
}

.intro {
    text-align: justify; 
    margin: 20px 200px; 
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 20px; 
    margin-top: 100px; 
    margin-left: 0;
}

.intro h2 {
    font-size: 1.5em;
    margin-bottom: 20px; 
    margin-top: 100px; 
    margin-left: 0;
}

.intro2 {
    text-align: justify; 
    margin: 20px 200px; 
}

.intro2 h1 {
    font-size: 2.5em;
    margin-bottom: 20px; 
    margin-top: 100px; 
}

.intro {
    text-align: justify; 
    margin: 20px 200px; 
}

.intro h2 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 100px; 
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 300px;
}

.image-item {
    margin: 0 10px;
}

.image-item img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.image-container2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.image-container2 .image-item {
    margin: 0 50px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: 300px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
}

.footer-links {
    margin-top: 10px; 
}

.click-here-link {
    color: #ffcc00;
    text-decoration: none; 
    font-size: 1.2em; 
    transition: color 0.3s ease; 
}

.click-here-link:hover {
    color: #ffd633; 
}

.copyright {
    margin-top: 10px;
}



.section {
    display: none;
}

#home.section {
    display: block;
}

.welcome-section { 
    padding: 25px; 
    color: #fff; 
    font-family: Arial, sans-serif; 
    text-align: justify;
    margin: 100px;
}

.welcome-section h1 { 
    font-size: 2.5em; 
    margin-bottom: 20px; 
    text-align: center;
}

.welcome-section h2 {
    font-size: 28px; 
    margin-top: 100px; 
    margin-bottom: 10px; 
}

.welcome-section p { 
    font-size: 18px; 
    line-height: 1.6; 
    margin-bottom: 20px;
    font-size: 1.5em;
}

.welcome-section ul { 
    list-style: none; 
    padding: 0; 
}

.welcome-section ul li { 
    font-size: 18px; 
    margin-top: 40px;
    margin-left: 30px;
    line-height: 1.6; 
    margin-bottom: 20px;
    font-size: 1.5em;
}

.welcome-section ul li strong { 
    color: #ffa500; 
}

.welcome-section strong { 
    color: #ffa500; 
    
}

.section h1 { 
    font-size: 40px;
    margin-top: 100px;
    text-align: center;    
}

.image-grid5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px; /* Gap between items */
    margin-top: 100px;
}
.image-grid-item5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.image-grid5 img {
    width: 400px;
    height: 400px;
    object-fit: cover; /* Ensure images maintain aspect ratio */
    border-radius: 8px; /* Optional: rounded corners */
}
.image-grid5 p {
    color: white; /* Text color */
    font-size: 14px; /* Font size */
    margin-top: 10px; /* Adjust top margin for spacing */
}